.eda-info {
    visibility:visible;
    left: 0;
    width: 100%;
}

.eda-info.open {
    left: 15rem;
    width: calc(100% - 15rem)
}

.eda-info-container {
    visibility:visible;
    width: 100%;
}