.home-summary {
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.home-summary::-webkit-scrollbar {
  height: 2px; 
}

.home-summary::-webkit-scrollbar-thumb {
  height: 30%;
  background: #000000;
}

.home-summary::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}