.home-container {
  width: 70rem;
  font-family: Manrope-Medium;
  padding: 5rem calc((100% - 70rem) / 2);
}

.home-container p {
  line-height: 180%;
}

.home-model-market-list {
  display: flex;
  flex-direction: row;
}

.home-model-market-list div {
  padding: 0 20px;
}

.home-model-market-list ul {
  padding: 0 15px;
}

.home-title {
  font-family: KoreanTITGD3, Manrope-Bold;
  font-size: 1.2rem;
}

.home-description {
  font-family: KoreanTITGD2, Manrope-Medium;
}