.market-container {
  width: 70rem;
  padding: 5rem calc((100% - 70rem) / 2);
}

.market-title {
  font-family: KoreanTITGD3, Manrope-SemiBold;
  font-size: 1.5rem;
}

.market-title2 {
  font-family: KoreanTITGD3, Manrope-SemiBold;
  font-size: 1.2rem;
}
