.container {
  font-family: KoreanTITGD3, Manrope-SemiBold;
  display: grid;
  grid-template-columns: 30rem 40rem;
  grid-template-areas: "options portfolio";
  padding: 3rem calc((100% - 70rem) / 2);
  grid-gap: 10px;
  width: 70rem;
}
.title {
  font-size: x-large;
  border-left: thick solid;
  padding: 10px;
  margin-bottom: 15px;
}
.title1 {
  height: 1.5rem;
  font-size: large;
  border-left: 2px solid;
  padding: 10px;
  margin-bottom: 15px;
}
.option {
  padding: 15px 25px 15px 20px;
}
.options {
  grid-area: "options";
  margin-top: 30px;
  margin-bottom: 5px;
}
.portfolio {
  grid-area: "portfolio";
  padding: 15px 25px 10px 20px;
}
.backtest {
  padding: 0px 25px 10px 20px;
  display: inline-block;
}
button {
  font-family: KoreanTITGD3, Manrope-SemiBold;
  border: solid 1px;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}