.container {
  font-family: KoreanTITGD3, Manrope-SemiBold;
  display: grid;
  grid-gap: 10px;
  width: 70vw;
  margin: auto;
  margin-top: 10px;
}
.title {
  font-size: x-large;
  border-left: thick solid;
  padding: 10px;
  margin-bottom: 15px;
}
.title1 {
  height: 1.5rem;
  font-size: large;
  border-left: 2px solid;
  padding: 10px;
  margin-bottom: 15px;
}
.option {
  grid-row: 1;
  padding: 15px 25px 15px 20px;
}
.options {
  margin-top: 10px;
  margin-bottom: 5px;
}
.portfolio {
  grid-row: 2;
  padding: 15px 25px 10px 20px;
}
.backtest {
  grid-row: 3;
  padding: 0px 25px 10px 20px;
  display: inline-block;
}
button {
  font-family: KoreanTITGD3, Manrope-SemiBold;
  border: solid 1px;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}